@charset "utf-8";
/*=================================================================================
* Reset
=================================================================================*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, em, img, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0;}
html {-webkit-text-size-adjust:none; -moz-text-size-adjust:none; -ms-text-size-adjust:none; text-size-adjust:none;}
body {font-size:14px; word-break:break-all;  height:100%; color:#555; letter-spacing: -1px}
h1,h2,h3,h4,h5  {font-weight:normal; font-size:100%;}
ul,ol,li, figure {list-style-type:none; margin:0; padding:0;line-height: 25px}
table    {border-collapse:collapse; border-spacing:0; table-layout:fixed; }
caption  {visibility:hidden; overflow:hidden; width:0; height:0; font-size:0; line-height:0;}
select, input, textarea { font-size:12px; vertical-align:middle; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box;}
select   {border:1px solid #d5d5d5; height:27px; }
textarea {border:1px solid #d5d5d5; resize: none; }
button   {cursor:pointer;  border:0; vertical-align: middle; padding:0; }
button::-moz-focus-inner {padding:0;border:0; }
address  {font-style:normal; }

input[type="checkbox"]  {position:relative; bottom:2px; padding:0; margin:0 0 0 0; }
input[type="radio"   ]  {position:relative; bottom:2px; padding:0; margin:0 5px 0 0; }
input[type="text"    ]  {height:25px; line-height:25px; border:1px solid #d5d5d5; }
input[type="password"]  {height:25px; line-height:25px; border:1px solid #d5d5d5; }

.hid, legend, hr {position:absolute; left:-10000%; top:0; overflow:hidden; width:1px; height:1px; font-size:0; line-height:0; text-indent:-10000px; }
a {margin:0; padding:0; text-decoration:none; color:inherit;}
strong {font-weight: 600; }
em {font-style: normal; }
.hidden{display:none; }
img {vertical-align:top; }



/*나눔스퀘어 Extra Bold(800), Bold(700), Regular(400) , Light(300) */
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);

/*HelveNueThin 100*/
@font-face {
    font-family: 'HelveNue';
    font-style: normal;
    font-weight: 100;
    src: url(../font/HelveNueThin.woff) format('woff'),
        url(../font/HelveNueThin.eot) format('eot'),
        url(../font/HelveNueThin) format('ttf');
}

/*본고딕 font - Thin(100) , Light(300) , Regular(400) , Medium(500) ,  Bold(700) , Black(900)*/
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

input[type=text]{border:1px solid #999;}
input[type=number]{border:1px solid #999;}
input[type=button]{border:1px solid #999;}