.pay {
    text-align: center;
}
.pay .top{
    text-align: left;
    position: relative;
    line-height: 55px;
    padding-left: 12px;
    margin-bottom: 10px;
}
.pay .top .tit {
    width: 90px;
    vertical-align: middle;
   
}
.pay .title {
    border-bottom: solid 2px #77b046;
    line-height: 40px;
    font-size: 16px;
    margin: 20px 10px 10px 10px;
    text-align: left;
}
.pay .container {
    position: relative;
    background-color: #33802f;
    min-height: 360px;
}
.pay{
    background-color: #fff;
}
.pay .line_top {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 3px;
    background-color: #33802f;
}
.pay .line_right {
    position: fixed;
    right: 0px;
    width: 3px;
    height: 100%;
    background-color: #33802f;
    top: 0px;
}
.pay .line_left {
    position: fixed;
    left: 0px;
    width: 3px;
    height: 100%;
    background-color: #33802f;
    top: 0px;
}
.pay .line_bottom {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background-color: #33802f;
}
.pay .money {
    border: solid 2px #77b046;
    border-radius: 1px;
    margin: 30px 8px;
}
.pay .money .amt {
    text-align: left;
    font-size: 20px;
    padding: 4px;
    position: relative;
    margin: 0 10px;
}
.pay .money .amt span{
    float: right;
}
.pay .io li{
    margin: 0 18px;
    text-align: left;
    line-height: 24px;
}
.pay .io li span{
    float: right;
}
.pay input.confirm {
    width: 90px;
    font-size: 15px;
}
.pay input.cancel {
    width: 90px;
    font-size: 15px;
    color: red;
    margin-left: 20px;
}