.pay {
    text-align: center;
}
.pay .top{
    text-align: left;
    position: relative;
    line-height: 55px;
    padding-left: 12px;
}

.pay .top .tit {
    width: 90px;
    vertical-align: middle;
}
.pay .top .event {
    border: solid 2px #77b046;
    float: right;
    line-height: 40px;
    font-size: 23px;
    margin: 10px 45px 0 0;
    padding: 0 10px;
    
}

.pay .container {
    position: relative;
    background-color: #33802f;
    min-height: 360px;
}
.pay{
    background-color: #fff;
}

.pay .line_top {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 3px;
    background-color: #33802f;
}
.pay .line_right {
    position: fixed;
    right: 0px;
    width: 3px;
    height: 100%;
    background-color: #33802f;
    top: 0px;
}
.pay .line_left {
    position: fixed;
    left: 0px;
    width: 3px;
    height: 100%;
    background-color: #33802f;
    top: 0px;
}
.pay .line_bottom {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background-color: #33802f;
}
.pay .list_io{
    margin: 10px 10px 0;
}
.pay .list_io li{
    text-align: left;
    border-top: solid 1px #77b046;
}
.pay .list_io li p{
    text-align: left;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pay .list_io li img{
    width: 100%;
    margin-bottom: 10px;
}